html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #212222;
    color: #767a8d;
    font-size: 2rem;
}

.main {
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
    padding: 5px 0 0px 10px;
}

aside {
    width: 35%
}

.container {
    width: 65%;
    padding-left: 50px;
}

.avatar {
    width: 98%;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #303438;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    margin-left: 25px;
}

.about-text {
    margin-top: 0;
}

.contacts {
    display: flex;
    min-width: 200px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-items {
    margin-right: 20px;
}

a {
    color: #bcb1ab;
}
